$font-color: #467302;
$number-space: 3%;
$other-number: 5%;
$bigger-space: 50%;
$big-space: 25%;

body {
  background-color: #c4f280;
  width: 100%;
  height: 100%; }

#main {
  font-family: 'Lato', sans-serif;
  width: 75%;
  margin: auto; }

#navigation {
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 1px #aaad7c;
  background-color: #bbbf83;
  box-sizing: border-box;
  margin-top: -2.9%; }

ul {
  padding-top: 2%;
  list-style: none;
  margin-left: $number-space; }

li {
  display: inline-block;
  margin-left: $other-number; }

#navigation a:link {
  color: $font-color;
  text-decoration: none; }

#navigation a:visited {
  color: #579b62;
  text-decoration: none; }

#navigation a:hover {
  color: $font-color;
  text-decoration: none; }

#navigation a:active {
  color: #ffa63a;
  text-decoration: none; }

img {
  width: 100%;
  border-top: solid 1px #D7D9A9;
  border-top-right-radius: $bigger-space;
  border-top-left-radius: $bigger-space; }

#text {
  color: $font-color;
  text-align: justify;
  padding: $other-number;
  letter-spacing: 2px; }

h1 {
  text-align: center; }

#contact {
  margin-left: $big-space; }

#gif {
  margin-left: $big-space;
  width: $bigger-space;
  height: $bigger-space;
  z-index: 1; }

#myImage {
  width: $big-space;
  height: $big-space;
  margin: auto;
  float: right;
}

/*#time{
  color: $font-color;
  text-align: justify;
  padding: $other-number;
}*/

footer {
  color: $font-color;
  margin-top: $number-space;
  font-size: 10px;
  margin-left: 13%; }

@media screen and (min-width: 500px) and (max-width: 1024px) {
body {
  font-size: 15px;
}
}

@media screen and (min-width: 300px) and (max-width: 724px) {
body {
  font-size: 10px;
}
}

@media screen and (min-width: 100px) and (max-width: 424px) {
body {
  font-size: 7px;
}
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
#navigation {
  font-size: 20px;
}
}

@media screen and (min-width: 300px) and (max-width: 724px) {
#navigation {
  font-size: 15px;
}
}

@media screen and (min-width: 100px) and (max-width: 424px) {
#navigation {
  font-size: 10px;
}
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
footer {
  font-size: 8px;
}
}

@media screen and (min-width: 300px) and (max-width: 724px) {
footer {
  font-size: 6px;
}
}

@media screen and (min-width: 100px) and (max-width: 424px) {
footer {
  font-size: 4px;
}
}